.design-tool .select {
	-fx-stroke: -fx-accent;
	-fx-fill: none;
}

.design-tool .construction-point > * {
	-fx-stroke: none;
}

/*******************************************************************************
 * Paint Picker
 ******************************************************************************/
.cartesia-paint-picker {
	-fx-alignment: BASELINE_LEFT;
}

.cartesia-paint-picker-pane {
	-fx-spacing: 0.5em;
}

.cartesia-paint-picker-pane .paint-swatch {
	-fx-min-width: 1.5em;
	-fx-min-height: 1.5em;
	-fx-pref-width: 1.5em;
	-fx-pref-height: 1.5em;
	-fx-max-width: 1.5em;
	-fx-max-height: 1.5em;
	-fx-border-width: 1px;
}

.cartesia-paint-picker-pane .paint-swatch:hover {
	-fx-background-color: -fx-faint-focus-color, white;
	-fx-background-insets: -3, -1;
	-fx-background-radius: 2, 0;
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
	-fx-border-color: -fx-focus-color;
	-fx-border-insets: -1, -1;
}

